# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Deploy bundles
netlify-bundle.zip


# Local Social Media Automation Scripts
scripts/instagram/
public/ig_post_output.jpg
.env
facebook_cover*.jpg
sarkari_job_logo*.jpg
profile_logo*.jpg
